@using Argon.Enums
@model ProjetoModel;
@{
    ViewData["Title"] = "Adicionar projeto";
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form asp-controller="Projetos" asp-action="Adicionar" method="post">

    <div class="row">
        <div class="col mb-3">
            <labal class="form-label">Empresa</labal>
            <select class="form-select" asp-for="Empresa">
                <option value="0">Selecione</option>
                <option value="@EmpresaEnums.ELETRICTEL">ELETRICTEL</option>
                <option value="@EmpresaEnums.VIPTELECOM">VIP TELECOM</option>
            </select>
        </div>
        <div class="col mb-3">
            <labal class="form-label">Tipo do projeto</labal>
            <input type="text" asp-for="Tipo" class="form-control" placeholder="Tipo do projeto" aria-label="Tipo do projeto">
            @Html.ValidationMessageFor(x => x.Tipo)
        </div>
        <div class="col mb-3">
            <labal class="form-label">Nome do projeto</labal>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do projeto" aria-label="Nome do projeto">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="col mb-3">
            <labal class="form-label">Localidade</labal>
            <input type="text" asp-for="Localidade" class="form-control" placeholder="Localidade" aria-label="Localidade">
            @Html.ValidationMessageFor(x => x.Localidade)
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-danger" asp-controller="Projetos" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-block btn-success">Cadastrar</button>
    </div>
</form>
