@model List<ProjetoModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista de Projetos";
}




<div class="text-center">

    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Parabéns! </strong> @TempData["MensagemSucesso"].
        </div>
    }
    <br />
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Atenção!</h4>
            <p class="mb-0"><strong>Oh snap!</strong> @TempData["MensagemErro"]. </p>
        </div>
    }

    <br />
    <h1>Lista de projetos</h1>
    <p>Lista completa com todos os projetos desde arquivados ou aprovados.</p>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-success" role="button" asp-controller="Projetos" asp-action="Adicionar">Adicionar</a>
    </div>
    <br />
    <table class="table" id="projetosTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Empresa</th>
                <th scope="col">Cidade</th>
                <th scope="col">Protocolo EI</th>
                <th scope="col">ART</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ProjetoModel projeto in Model)
                {
                    <tr>
                        <th scope="row">@projeto.Id</th>
                        <td>@projeto.Nome</td>
                        <td>APROVADO</td>
                        <td>@projeto.Empresa</td>
                        <td>@projeto.Localidade</td>
                        <td>156465798654</td>
                        <td>ART 651894161651</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                                    <ul class="dropdown-menu">
                                        <li><a role="button" class="dropdown-item" asp-route-id="@projeto.Id" asp-controller="Projetos" asp-action="Editar">Editar</a></li>
                                        <li><a role="button" class=" dropdown-item" href="#">Copiar</a></li>
                                        <li><a role="button" class=" dropdown-item" asp-route-id="@projeto.Id" asp-controller="Projetos" asp-action="ApagarConfirmacao">Apagar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td valign="top" colspan="5">Nenhum contato encontrado</td></tr>
            }
        </tbody>
    </table>
</div>
